*{
    padding: 0;
    margin: 0;
    border :0 ;
    box-sizing: border-box;
}
.test__div{
    margin : 5px;
    width:100px;
    height: 100px;
    background-color: blue;
}

.relative__div{
    background-color: red;
    position:relative;
    top : 5px;
    left : 25px;
}

.flex__container{
    border:5px solid green;
    display:flex;
    min-width: 100px;
}