*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
div{
    border:3px solid black;
    padding:3px;
    margin:5px;
    margin-left:20px;
    min-height:50px;
    min-width:300px;
}
input{
    min-width:300px;
    margin:20px;
}
button{
    flex:1;
    margin-left:20px;
    max-width:100px;
}