*{
    padding: 0;
    border:0;
    margin:0;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div{
    flex:1;
    background-color: red;
    min-width: 300px;
    min-height: 150px;
    text-align: center;
    
}
button{
    flex:1;
    margin:100px
}